@font-face {
  font-family: 'Euphoria Script';
  font-style: normal;
  font-weight: 400;
  src: url("c4XB4Iijj_NvSsCF4I0O2MaTD6RBjKHcIwbw4yveZ7g.eot"/*tpa=http://fonts.gstatic.com/s/euphoriascript/v4/c4XB4Iijj_NvSsCF4I0O2MaTD6RBjKHcIwbw4yveZ7g.eot*/);
}
