@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 400;
  src: url("_yRJoxB8KMO25_gswqItc-ZiE7IA0Up7-VwGqa0iGVY.eot"/*tpa=http://fonts.gstatic.com/s/lifesavers/v6/_yRJoxB8KMO25_gswqItc-ZiE7IA0Up7-VwGqa0iGVY.eot*/);
}
