@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 900;
  src: url("l1JcQwKaHzEH7sWBQ9t-7uZiE7IA0Up7-VwGqa0iGVY.eot"/*tpa=http://fonts.gstatic.com/s/overlock/v5/l1JcQwKaHzEH7sWBQ9t-7uZiE7IA0Up7-VwGqa0iGVY.eot*/);
}
