@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: url("QqeDrQN49ilmhwA5i0ppLvesZW2xOQ-xsNqO47m55DA.eot"/*tpa=http://fonts.gstatic.com/s/marmelad/v6/QqeDrQN49ilmhwA5i0ppLvesZW2xOQ-xsNqO47m55DA.eot*/);
}
