@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url("TLocQ06mwy5YwcyZZ-KVtPesZW2xOQ-xsNqO47m55DA.eot"/*tpa=http://fonts.gstatic.com/s/merienda/v4/TLocQ06mwy5YwcyZZ-KVtPesZW2xOQ-xsNqO47m55DA.eot*/);
}
