@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: url("dnU3R-5A_43y5bIyLztPsalSqKUsDpiXlwfj-ZM2w_A.eot"/*tpa=http://fonts.gstatic.com/s/averagesans/v4/dnU3R-5A_43y5bIyLztPsalSqKUsDpiXlwfj-ZM2w_A.eot*/);
}
