@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url("7pSgz2MbVvTCvvm7vukSH_Y6323mHUZFJMgTvxaG2iE.eot"/*tpa=http://fonts.gstatic.com/s/audiowide/v4/7pSgz2MbVvTCvvm7vukSH_Y6323mHUZFJMgTvxaG2iE.eot*/);
}
