@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("gk5FxslNkTTHtojXrkp-xFOO7R4iWviQf9Rheg0wT6Q.eot"/*tpa=http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xFOO7R4iWviQf9Rheg0wT6Q.eot*/);
}
