@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("DBCt-NXN57MTAFjitYxdrAkV085mIc9HMXyJQAR_rDc.eot"/*tpa=http://fonts.gstatic.com/s/ubuntucondensed/v7/DBCt-NXN57MTAFjitYxdrAkV085mIc9HMXyJQAR_rDc.eot*/);
}
