@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url("eJYqrhUff1n1Ge9A-rSw_PY6323mHUZFJMgTvxaG2iE.eot"/*tpa=http://fonts.gstatic.com/s/righteous/v5/eJYqrhUff1n1Ge9A-rSw_PY6323mHUZFJMgTvxaG2iE.eot*/);
}
