@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("y7lebkjgREBJK96VQi37ZuZiE7IA0Up7-VwGqa0iGVY.eot"/*tpa=http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZuZiE7IA0Up7-VwGqa0iGVY.eot*/);
}
